#map{
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.header{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(226, 250, 250, 0.7);
}

.profile{
  position: absolute;
  top: 20;
  left: 20;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 3px solid black;
  overflow: hidden;
  background-color: white;
}

.profile img{
  width: 100%;
  height: auto;
}

#logo{
  position: absolute;
  left: 100px;
  top: 15;
  height: 80;
  width: auto;
}

#search {
  position: absolute;
  right: 40;
  top: 30px;
  width: 200px;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('assets/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
#search:focus {
  outline: none;
  border: none;
}

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(226, 250, 250, 0.7);
}

.footer h1{
  position: absolute;
  margin-bottom: 0px;
  font-size: 24px;
  font-family: arial;
  font-weight: bold;
  bottom: 10;
  left: 20;
  padding: 0px;
}
.footer p{
  position: absolute;
  bottom: 18;
  margin-bottom: 0px;
  height: 20px;
  font-size: 20px;
  font-family: arial;
}

#tagFilterLabel{
  left: 20%;
}
#tagFilter{
  position: absolute;
  height: 20px;
  bottom: 15;
  border-radius: 0px;
  border: 1px solid black;
  background-color: white;
  left: calc(20% + 50px);
}

#packagingFilterLabel{
  left: 40%;
}
#packagingFilter{
  position: absolute;
  height: 20px;
  bottom: 15;
  border-radius: 0px;
  border: 1px solid black;
  background-color: white;
  left: calc(40% + 110px);
}
