@keyframes appear {
  0%{right: -510}
  100%{right: 20}
}
@keyframes disapear {
  0%{right: 20}
  100%{right: -510}
}

@keyframes appear2 {
  0%{right: -410}
  100%{right: 540}
}
@keyframes disapear2 {
  0%{right: 540}
  100%{right: -410}
}

body{
  overflow: hidden;
}

#map{
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.header{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(226, 250, 250, 0.7);
}

.profile{
  position: absolute;
  top: 30;
  left: 20;
  width: 120px;
  height: 30px;
  border-radius: 30px;
  overflow: hidden;
  background-color: rgba(80, 80, 80, 0.5);
  color: rgba(255, 255, 255, 1);
  font-family: arial;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}
#profileContainer:hover{
  padding: 2px;
  padding-top: 12px;
}

.profile img{
  width: 100%;
  height: auto;
}

#logo{
  position: absolute;
  left: calc(50% - 100px);
  top: 5;
  width: 200px;
  height: auto;
}

#searchBar {
  position: absolute;
  right: 40;
  top: 30px;
  width: 200px;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('Assets/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
#searchBar:focus {
  outline: none;
  border: none;
}

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(226, 250, 250, 0.7);
}

.footer h1{
  position: absolute;
  margin-bottom: 0px;
  font-size: 24px;
  font-family: arial;
  font-weight: bold;
  bottom: 10;
  left: 20;
  padding: 0px;
}
.footer p{
  position: absolute;
  bottom: 18;
  margin-bottom: 0px;
  height: 20px;
  font-size: 20px;
  font-family: arial;
}

#tagFilterLabel{
  left: 20%;
}
#tagFilter{
  position: absolute;
  height: 20px;
  bottom: 15;
  border-radius: 0px;
  border: 1px solid black;
  background-color: white;
  left: calc(20% + 50px);
}

#packagingFilterLabel{
  left: 40%;
}
#packagingFilter{
  position: absolute;
  height: 20px;
  bottom: 15;
  border-radius: 0px;
  border: 1px solid black;
  background-color: white;
  left: calc(40% + 110px);
}


.shopPage{
  position: absolute;
  top: 120;
  width: 400px;
  height: calc(100% - 220px);
  background-color: rgba(84, 84, 84, 0.7);
  color: white;
  overflow: scroll;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: arial;
}
.shopPage h1{
  width: auto;
  color: rgba(124, 186, 204, 1);
  font-weight: bold;
  background-color: rgba(84, 84, 84, 1);
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin-bottom: -10px;
}

#shopAddress{
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.8;
  margin-bottom: 20px;
}

#shopPageHidden{
  position: absolute;
  right: -510;
  animation-name: disapear;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

#shopPageVisible{
  position: absolute;
  right: 20;
  animation-name: appear;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.shopPage #product{
  background-color: rgba(185, 221, 227, 0.5);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  border-radius: 20px;
  width: auto;
  height: auto;
  margin-bottom: 40px;
  color: rgb(242, 242, 242);
}

.shopPage img{
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

.rateUp{
  padding: 10px 5px 10px 5px;
  background-color: rgba(161, 217, 111, 0.7);
  margin-right: 10px;
  border-radius: 5px;
  user-select: none;
}
.rateUp:hover{
  padding: 11px 6px 11px 6px;
  cursor: default;
}

.rateDown{
  padding: 10px 5px 10px 5px;
  background-color: rgba(217, 111, 193, 0.7);
  border-radius: 5px;
  user-select: none;
}
.rateDown:hover{
  padding: 11px 6px 11px 6px;
  cursor: default;
}

#addProduct {
  background-color: rgba(111, 124, 217, 0.7);
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  text-align: center;
  width: 100px;
  margin-left: 10px;
}
#addProduct:hover{
  padding: 12px 7px 12px 7px;
  cursor: default;
}

.newProductPage{
  position: absolute;
  top: 120;
  width: 300px;
  height: calc(100% - 320px);
  background-color: rgba(84, 84, 84, 0.7);
  color: white;
  overflow: scroll;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: arial;
}


#newProductHidden{
  position: absolute;
  right: -410;
  animation-name: disapear2;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

#newProductVisible{
  position: absolute;
  right: 540;
  animation-name: appear2;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.newProductPage label{
  margin-bottom: 20px;
}
.newProductPage input{
  margin-left: 10px;
  margin-bottom: 20px;
}
.newProductPage textarea{
  min-width: 90%;
  min-height: 150px;
  margin-bottom: 20px;
}
.newProductPage button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  color: white;
  font-size: 14px;
  background-color: rgba(111, 124, 217, 0.7);
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  text-align: center;
  width: 100px;
  border: 0px solid black;
}
.newProductPage button:hover{
  padding: 12px 7px 12px 7px;
  cursor: default;
}
